@import '@material/react-text-field/index.scss';
@import '@material/react-menu-surface/index.scss';
@import '@material/react-list/index.scss';
@import '@material/react-icon-button/index.scss';
@import '@material/react-button/index.scss';
@import '@material/react-menu-surface/index.scss';
@import '@material/react-menu/index.scss';
@import '@material/react-select/index.scss';

.mdc-select {
    min-width: 233px;
    margin-bottom: 19px;
}

.mdc-text-field-helper-line {
    text-align: center;
    justify-content: center;
}
