.grader {
    color: black;
    min-width: 60vw;
    max-width: 61vw;
    min-height: 70vh;
}

.ant-alert-with-description {
    margin: 0 20% !important;
}

.steps {
    align-self: center;
    position: relative;
    left: 125%;
}

@media (max-width: 479px) {
    .grader {
        max-width: unset;
    }

    .steps {
        align-self: center;
        position: initial;
        left: initial;
    }

    .ant-alert-with-description {
        margin: initial !important;
    }
}
